@import "../../../styles/constants.scss";
@import "../../../styles/mixins.scss";

.budget-content {
	color: $text-colour-dark;
	display: grid;
	grid-template-rows: auto 40fr;
	grid-area: content;
	.budget-category-toolbar {
		width: 100%;
		padding: 0.5em;

		border-bottom: solid 1px $border-colour-dark;
		color: $primary-colour;
	}
	.budget-category-controls {
		position: relative;
	}
}
