@import "../../../styles/constants.scss";
@import "../../../styles/mixins.scss";

.accounts-content {
	color: $text-colour-dark;
	//grid-area: content;
	display: grid;
	grid-template-rows: auto 40fr;
	.accounts-toolbar {
		width: 100%;
		padding: 0.5em;

		border-bottom: solid 1px $border-colour-dark;
		color: $primary-colour;
	}
}
