@import "../../../../styles/constants.scss";


.budget-categories {
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
	width: 67%;
	height: 100%;
	&-header {
		&>div:not(:first-child) {
			text-align: center;
		}
		display: grid;
		
		grid-template-columns: $budget-table-widths;
		padding: 1em 0.5em;
	}
}