@import '../../styles/constants.scss';

.value-indicator {
	width: fit-content;
	border-radius: 5px;
	text-align: center;
	padding: .25em;


	.value-indicator-value {
		letter-spacing: 1px;
		color: $tertiary-colour;
	}
	.value-indicator-label {
		font-size: .75em;
		color: black;
	}
	&.positive {
		background: $positive-colour;
	}
	&.negative {
		background: $negative-colour;
	}
	&.large {
		padding: .5em 1em;
	}
	&.large > .value-indicator-value {
		font-size: $font-large;
		font-weight: 300;
	}
}