@import "../../../styles/constants.scss";
@import "../../../styles/mixins.scss";

.accounts-header {
	display: grid;
	grid-area: header;
	background: $secondary-colour;
	@include size(100%, 100%);
	grid-template-columns: 15fr 35fr 15fr;
}