@import '../../../../../styles/constants.scss';

.accounts-transaction {
	display: grid;
	grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr 1fr;
	padding: .5em;
	border-bottom: 1px solid $border-colour-dark;
	font-size: $font-small;
	text-align: center;
}