@import '../../../../../styles/constants.scss';
@import '../../../../../styles/mixins.scss';

.accounts-transaction {
	display: grid;
	grid-template-columns: $account-table-widths;
	padding: .5em;
	border-top: 1px solid $border-colour-dark;
	font-size: $font-small;
	text-align: center;
	cursor: pointer;
}