@import "../../../../styles/mixins.scss";

.budget-categories {
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
	width: 67%;
	height: 100%;
	.budget-categories-header {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 1fr;
		padding: 1em 0;
	}
}