$primary-colour: #2c97ad;
$secondary-colour: #003540;
$tertiary-colour: #e5f5f9;

$negative-colour: #d33c2d;
$positive-colour: #16a336;

$text-colour-dark: #003440;

$border-colour-dark: #dfe4e9;
$border-colour-light: #0e414c;

$font-small: 14px;