$primary-colour: #2c97ad;
$secondary-colour: #003540;
$tertiary-colour: #e5f5f9;

$negative-colour: #d33c2d;
$positive-colour: #16a336;

$text-colour-dark: #003440;

$border-colour-dark: #dfe4e9;
$border-colour-light: #206f8162;

$menu-active-colour-dark: #005f73;
$menu-selected-colour-dark: #00748d;

$menu-selected-colour-light: #00596f;

$font-small: 14px;
$font-large: 32px;

$account-table-widths: 1fr 1.5fr 2fr 1fr 1fr 1fr;
$budget-table-widths: 3fr 1fr 1fr 1fr;