@mixin size($w, $h) {
	width: $w;
	height: $h;
}

@mixin active-select() {
	&.active {
        background: $menu-active-colour-dark;
    }
    &:hover {
		background: $menu-selected-colour-dark;
		cursor: pointer;
    }
}