@import '../../styles/constants.scss';

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr 9fr;
    background-color: $primary-colour;
    color: #fff;
    .name {

    }
    .view-controls {
        display: grid;
    }
    .accounts-controls {
        border-top: solid $secondary-colour 1px;
        border-bottom: solid $secondary-colour 1px;
    } 

}