#index {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template: "sidebar main main"
                   "sidebar main main"
                   "sidebar main main"
                    / minmax(6cm, 12.5fr) 80fr;
}