@import '../../../styles/constants.scss';
@import '../../../styles/mixins.scss';

.view-control {
	@include active-select();
    display: flex;
    padding: 10px 0;
    .icon, .label {
        padding-left: 0.5em;
    }
    &>div {
        margin: auto 0;
    }

}