@import '../../../styles/constants.scss';
@import '../../../styles/mixins.scss';

.view-control {
    display: grid;
	@include active-select();

    .icon, .label {
        padding-left: 0.5em;
    }
    &>div {
        margin: auto 0;
    }

}