@import '../../styles/constants.scss';

.button {
	background: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 5px;
	border-color: $border-colour-dark;
	&.filled {
		background: lighten($primary-colour, 10);
		color: #fff;
		border-color: lighten($primary-colour, 5);
	}
	&.small {
		padding: 2px 5px;
		border-radius: 10px;
	}
	&.round {
		border-radius: 1000px;
	}
	&.disabled {
		opacity: .8;
	}
}