@import '../../../../../styles/constants.scss';

.budget-category-group-row {
	max-height: 1em;
	box-sizing: content-box;
	display: grid;
	grid-template-columns: $budget-table-widths;
	padding: 1em 0;
	background: $tertiary-colour;
	border-bottom: solid 1px $border-colour-dark;
	&>div:not(:first-child) {
		text-align: center;
	}
	&-name {
		display: inline-flex;
		align-items: flex-start;
		padding-left: 0.5em;
		.add-button {
			padding-left: .5em;
		}
	}
}