@import '../../../../styles/constants.scss';

.accounts-transactions {
	width: 100%;
	display: flex;
	flex-direction: column;
	&-header {
		text-align: center;
		padding: 1em 0.5em;
		display: grid;
		grid-gap: 1%;

		grid-template-columns: $account-table-widths;
	}
}